@import './grayscale.css';

:root {
  --Text-Default: var(--Grayscale-900);
  --Text-Dark: var(--Grayscale-900);
  --Text-Medium: var(--Grayscale-600);
  --Text-Light: var(--Grayscale-400);
  --Text-Default-Inverse: var(--Grayscale-050);
  --Text-Dark-Inverse: var(--Grayscale-000);
  --Text-Medium-Inverse: var(--Grayscale-050);
  --Text-Light-Inverse: var(--Grayscale-075);

  --Background-Default: var(--Grayscale-050);
  --Background-Medium: var(--Grayscale-075);
  --Background-Dark: var(--Grayscale-100);
  --Background-Light: var(--Grayscale-000);
  --Background-Disabled: var(--Grayscale-066);
  --Background-Transparent: rgba(255, 255, 255, 0.75);
  --Background-Overlay: rgba(32, 30, 40, 0.33);

  --Border-Default: var(--Grayscale-100);
  --Border-Medium: var(--Grayscale-400);
  --Border-Dark: var(--Grayscale-600);
  --Border-Light: var(--Grayscale-075);

  --Primary-Default: rgba(5, 118, 199, 1);
  --Primary-Medium: rgba(4, 77, 149, 1);
  --Primary-Dark: rgba(3, 51, 99, 1);
  --Primary-Light: rgba(205, 234, 254, 1);
  --Primary-Disabled: rgba(140, 171, 193, 1);
  --Primary-Transparent: rgba(205, 234, 254, 0.5);

  --Success-Default: rgba(101, 152, 51, 1);
  --Success-Medium: rgba(70, 115, 38, 1);
  --Success-Dark: rgba(46, 76, 25, 1);
  --Success-Light: rgba(229, 242, 216, 1);
  --Success-Disabled: rgba(166, 175, 157, 1);
  --Success-Transparent: rgba(229, 242, 216, 0.5);

  --Warning-Default: rgba(184, 143, 20, 1);
  --Warning-Medium: rgba(138, 117, 15, 1);
  --Warning-Dark: rgba(92, 78, 10, 1);
  --Warning-Light: rgba(250, 240, 209, 1);
  --Warning-Disabled: rgba(184, 175, 148, 1);
  --Warning-Transparent: rgba(250, 240, 209, 0.5);

  --Error-Default: rgba(178, 38, 26, 1);
  --Error-Medium: rgba(134, 38, 19, 1);
  --Error-Dark: rgba(89, 26, 13, 1);
  --Error-Light: rgba(249, 214, 210, 1);
  --Error-Disabled: rgba(179, 155, 152, 1);
  --Error-Transparent: rgba(249, 214, 210, 0.5);

  --Aviatrix-Default: rgba(250, 107, 30, 1);
  --Aviatrix-Medium: rgba(226, 76, 1, 1);
  --Aviatrix-Dark: rgba(178, 57, 1, 1);
  --Aviatrix-Light: rgba(254, 222, 205, 1);
  --Aviatrix-Purple: rgba(122, 93, 220, 1);
  --Aviatrix-Teal: rgba(34, 169, 170, 1);
  --Aviatrix-Green: rgba(71, 181, 101, 1);

  --Theme-Default: rgba(78, 67, 111, 1);
  --Theme-Medium: rgba(59, 48, 79, 1);
  --Theme-Dark: rgba(35, 29, 48, 1);
  --Theme-Light: rgba(226, 223, 236, 1);
  --Theme-Transparent: rgba(226, 223, 236, 0.5);

  --Cloud-AWS-Default: rgba(255, 153, 0, 1);
  --Cloud-AWS-Medium: rgba(204, 105, 0, 1);
  --Cloud-AWS-Dark: rgba(153, 79, 0, 1);
  --Cloud-AWS-Disabled: rgba(255, 214, 153, 1);
  --Cloud-Azure-Default: rgba(0, 164, 239, 1);
  --Cloud-Azure-Medium: rgba(0, 113, 189, 1);
  --Cloud-Azure-Dark: rgba(0, 83, 138, 1);
  --Cloud-Azure-Disabled: rgba(153, 223, 255, 1);
  --Cloud-Google-Cloud-Default: rgba(66, 133, 244, 1);
  --Cloud-Google-Cloud-Medium: rgba(14, 82, 241, 1);
  --Cloud-Google-Cloud-Dark: rgba(11, 66, 193, 1);
  --Cloud-Google-Cloud-Disabled: rgba(207, 224, 252, 1);
  --Cloud-Oracle-Default: rgba(199, 70, 52, 1);
  --Cloud-Oracle-Medium: rgba(162, 46, 42, 1);
  --Cloud-Oracle-Dark: rgba(122, 34, 31, 1);
  --Cloud-Oracle-Disabled: rgba(234, 181, 174, 1);
  --Cloud-Alibaba-Default: rgba(255, 106, 0, 1);
  --Cloud-Alibaba-Medium: rgba(204, 68, 0, 1);
  --Cloud-Alibaba-Dark: rgba(153, 64, 0, 1);
  --Cloud-Alibaba-Disabled: rgba(255, 196, 153, 1);

  --Categorical-0-Default: rgba(89, 108, 166, 1);
  --Categorical-0-Medium: rgba(71, 82, 133, 1);
  --Categorical-0-Dark: rgba(54, 61, 99, 1);
  --Categorical-0-Disabled: rgba(189, 196, 219, 1);
  --Categorical-1-Default: rgba(56, 169, 250, 1);
  --Categorical-1-Medium: rgba(6, 128, 249, 1);
  --Categorical-1-Dark: rgba(5, 102, 199, 1);
  --Categorical-1-Disabled: rgba(156, 212, 253, 1);
  --Categorical-2-Default: rgba(147, 209, 178, 1);
  --Categorical-2-Medium: rgba(112, 194, 160, 1);
  --Categorical-2-Dark: rgba(77, 179, 136, 1);
  --Categorical-2-Disabled: rgba(201, 232, 217, 1);
  --Categorical-3-Default: rgba(128, 117, 240, 1);
  --Categorical-3-Medium: rgba(99, 71, 235, 1);
  --Categorical-3-Dark: rgba(59, 25, 229, 1);
  --Categorical-3-Disabled: rgba(191, 186, 247, 1);
  --Categorical-4-Default: rgba(240, 139, 66, 1);
  --Categorical-4-Medium: rgba(236, 128, 19, 1);
  --Categorical-4-Dark: rgba(189, 102, 15, 1);
  --Categorical-4-Disabled: rgba(247, 197, 161, 1);
  --Categorical-5-Default: rgba(77, 161, 179, 1);
  --Categorical-5-Medium: rgba(61, 122, 143, 1);
  --Categorical-5-Dark: rgba(46, 92, 107, 1);
  --Categorical-5-Disabled: rgba(166, 208, 217, 1);
  --Categorical-6-Default: rgba(173, 153, 133, 1);
  --Categorical-6-Medium: rgba(153, 132, 102, 1);
  --Categorical-6-Dark: rgba(122, 105, 82, 1);
  --Categorical-6-Disabled: rgba(214, 204, 194, 1);
  --Categorical-7-Default: rgba(61, 143, 143, 1);
  --Categorical-7-Medium: rgba(46, 102, 107, 1);
  --Categorical-7-Dark: rgba(31, 68, 71, 1);
  --Categorical-7-Disabled: rgba(148, 209, 209, 1);
  --Categorical-8-Default: rgba(224, 82, 105, 1);
  --Categorical-8-Medium: rgba(217, 38, 53, 1);
  --Categorical-8-Dark: rgba(173, 31, 42, 1);
  --Categorical-8-Disabled: rgba(244, 190, 199, 1);
  --Categorical-9-Default: rgba(240, 209, 117, 1);
  --Categorical-9-Medium: rgba(235, 180, 71, 1);
  --Categorical-9-Dark: rgba(229, 161, 25, 1);
  --Categorical-9-Disabled: rgba(247, 232, 186, 1);

  --Reserved-Green-Default: rgba(153, 204, 102, 1);
  --Reserved-Green-Medium: rgba(93, 152, 51, 1);
  --Reserved-Green-Dark: rgba(93, 152, 51, 1);
  --Reserved-Green-Disabled: rgba(204, 230, 178, 1);
  --Reserved-Red-Default: rgba(219, 87, 87, 1);
  --Reserved-Red-Medium: rgba(178, 38, 26, 1);
  --Reserved-Red-Dark: rgba(134, 29, 19, 1);
  --Reserved-Red-Disabled: rgba(246, 213, 213, 1);
  --Reserved-Yellow-Default: rgba(245, 184, 61, 1);
  --Reserved-Yellow-Medium: rgba(194, 148, 10, 1);
  --Reserved-Yellow-Dark: rgba(145, 111, 8, 1);
  --Reserved-Yellow-Disabled: rgba(250, 219, 158, 1);
  --Reserved-Gray-Default: rgba(143, 141, 150, 1);
  --Reserved-Gray-Medium: rgba(98, 95, 104, 1);
  --Reserved-Gray-Dark: rgba(32, 30, 40, 1);
  --Reserved-Gray-Disabled: rgba(232, 230, 235, 1);

  --Social-Media-LinkedIn: rgba(10, 102, 194, 1);
  --Social-Media-YouTube: rgba(255, 3, 2, 1);
  --Social-Media-Facebook: rgba(8, 102, 255, 1);
  --Social-Media-X: rgba(0, 0, 0, 1);

  /* Surface shadows */
  --Shadow-LG:
    0px 0px 4px 0px rgba(32, 30, 40, 0.16),
    0px 4px 12px 0px rgba(32, 30, 40, 0.16);

  --Shadow-MD:
    0px 0px 2px 0px rgba(32, 30, 40, 0.08),
    0px 1px 8px 0px rgba(32, 30, 40, 0.12);

  --Shadow-SM:
    0px 4px 4px 0px rgba(32, 30, 40, 0.16),
    0px 0px 2px 0px rgba(32, 30, 40, 0.16);

  --Shadow-XS:
    0px 1px 2px 0px rgba(32, 30, 40, 0.25),
    0px 0px 1px 0px rgba(32, 30, 40, 0.36);
}
